@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Management System</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
           Click here to register for your staff account using your email.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Click here to login to your account using your Username and Password</p>
        <p><a class="btn btn-default" href="/Account/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>Click here if your are an admin to view Employee Details</p>
        <p><a class="btn btn-default" href="/Employees/Index">View Employees &raquo;</a></p>
    </div>
</div>