@model string
@{
    ViewData["Title"] = "Delete Book";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="mt-4">
        <form asp-action="DeleteBook" role="form">
            <div class="modal-header">
                <h4 class="modal-title">Icon</h4>
            </div>
            <div class="modal-body form-horizontal">
                Are you sure you want to delete @Model ?
            </div>
            <div class="modal-footer">
                <a asp-action="Index" class="btn btn-default" type="button">Back</a>
                <button class="btn btn-success btn-danger" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>



